footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
}

.grid {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.grid__column--two {
  flex: 2 0;
}

.grid__column--one{
 flex: 1 0;
}

.reveal .author {
  margin-top:5em
}

.reveal .author > h2 {
  color: white;
}

.reveal .section-title{
  text-align: left;
  font-weight: bold;
}

.reveal h2 {
  color: #f18a20;
}

.reveal .modules{
  margin-bottom: 0.75em;
}

.reveal .modules__header{
  text-align: left;
  display: block;
}

.reveal .modules__example{
  margin: 0
}

.reveal section img {
    background: 0;
    border: 0;
    box-shadow: none;
}

.reveal section pre {
    box-shadow: none;
    font-size: 26px;
    margin-top: 0;
    line-height: inherit;
}

.reveal section pre code {
    max-height: none;
    padding: 7px;
}
/*
.reveal .keyword {
    font-weight: bold;
    color: #B7410E;
    text-transform: none;
}*/

.reveal .reset-list {
	list-style: none;
}
