.grid {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.grid__column {
    margin-right: 0;
    width: 50%;
}

.reveal .title--center{
  margin-top: 25%;
}

.reveal section img {
    background: 0;
    border: 0;
    box-shadow: none;
}

.reveal section pre {
    box-shadow: none;
    font-size: 30px;
    margin-top: 0;
    line-height: inherit;
}

.reveal section pre code {
    max-height: none;
    padding: 7px;
}

.reveal .keyword {
    font-weight: bold;
    color: #B7410E;
    text-transform: none;
}
