.reveal .slides {
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    text-transform: none;
}

.reveal table {
  margin: 0;
}

.reveal table td {
  border: 0;
}

.reveal section img {
  margin: auto;
  background: none;
  border: none;
  box-shadow: none;
}
